<li class="media list-group-item p-a m-t">
  <a class="media-left" href="#">
    <img
    class="media-object img-circle"
    src="assets/img/avatar-dhg.png">
  </a>
  <div class="media-body">
    <div class="media-heading">
      <small class="pull-right text-muted">4 min</small>
      <h6>Dave Gamache</h6>
    </div>
    <h5>{{atcl.title}}</h5>
    <p>
      {{atcl.content}}
    </p>
    <div>
      <a class="comment" href="" name="addcomment" ng-click="toggleComment()">
      <span class="icon icon-popup"></span>comment</a>
      <a class="comment" href="" name="like" ng-click="toggleLike()">
        <span class="icon" ng-class="{'icon-heart':like,'icon-heart-outlined':!like}"></span>like</a>
    </div>
    
    





    <ul ng-show="showComment" class="media-list m-b">
      <li class="media">
        <a class="media-left" href="#">
          <img
          class="media-object img-circle"
          src="assets/img/avatar-fat.jpg">
        </a>
        <div class="media-body">
          <strong>Jacon Thornton: </strong>
          Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
        </div>
      </li>
      <li class="media">
        <a class="media-left" href="#">
          <img
          class="media-object img-circle"
          src="assets/img/avatar-mdo.png">
        </a>
        <div class="media-body">
          <strong>Mark Otto: </strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </div>
      </li>
    </ul>
  </div>
</li>